h1 {
    text-align: center;
    font-size: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    background-color: rgb(129, 197, 150);

}

#infoBox2 {
    background-color: rgb(162, 212, 212);
    width: 500px;
    height: 150px;
    border-radius: .1px 100px / 120px;
    border: 2px solid black;
    margin-top: 5px;
}

.name {
    background-color: rgb(162, 212, 212);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;
    padding: 5px;
}

#typeHome {
    background-color: rgb(162, 212, 212);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;

}

#locate {
    border: 2px solid black;


}

.locatebutton:hover {
    background-color: lightgray;
}

#submitButton {
    border: 2px solid black;

}

.submitButton:hover {
    background-color: lightgrey;
}

#sidebar {
    text-align: right;
    color: rgb(147, 171, 238);
}

#sidebar a:hover {
    color: aqua;
}